### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [234]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(purchase_data)

## Player Count

* Display the total number of players

In [235]:
#Total Players
unique = purchase_data_df["SN"].nunique()
unique

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [236]:
#Number of Unique Items
unique = purchase_data_df["SN"].nunique()

#Average Price
average_price = purchase_data_df["Price"].mean()

#Number of Purchases
total_purchases = purchase_data_df["Purchase ID"].count()

#Total Revenue
total_revenue = purchase_data_df["Price"].sum()

#Summary Table of Results
summary_df = pd.DataFrame({"Number of Unique Items":[unique],
                           "Average Price":[average_price], 
                           "Total Purchases": [total_purchases], 
                           "Total Revenue": [total_revenue]})
summary_df

#Cleaner Format
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

In [237]:
#Groupby Gender
gender_stats = purchase_data_df.groupby("Gender")

#Total count of both Genders
total_count_gender = gender_stats.nunique()["SN"]

#Find Percentage
player_percentage = total_count_gender / unique * 100

#Create DataFrame
gender_demographics = pd.DataFrame({"Total Count": total_count_gender, "Player Percentage": player_percentage})

#No Index
gender_demographics.index.name = None

#Create Table
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Player Percentage":"{:.2f}%"})

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [238]:
#Purchase Count
purchase_count = gender_stats["Purchase ID"].count()

#Average Purchase Price for All Genders
avg_purchase_price = gender_stats["Price"].mean()

#Total Purchase Value for All Genders
avg_purchase_total = gender_stats["Price"].sum()

#Average Purchase Total by Gender
avg_purchase_per_person = avg_purchase_total/total_count_gender

#DataFrame with amounts
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})
#Index 
gender_demographics.index.name = "Gender"

#Cleaner Formatting
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [239]:
df = pd.DataFrame(purchase_data_df)

#Bins for Ages
bins = [0,10,15,20,25,30,35,40,200]

#Group Labels
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Sort into Bins
pd.cut(purchase_data_df["Age"], bins, labels=group_labels).head()

purchase_data_df["Age Groups"] = pd.cut(purchase_data_df["Age"], bins, labels=group_labels)
purchase_data_df.head()

#Groupby for Age Groups
age_grouped = purchase_data_df.groupby("Age Groups")
#Count total players by SN
total_count_age = age_grouped["SN"].nunique()
#Calculate percentages 
percentage_by_age = (total_count_age/total_count) * 100
#Create DF with values
age_demographics = pd.DataFrame({"Total Count": total_count_age, "Percentage of Players": percentage_by_age, })
#No index
age_demographics.index.name = None
#Format 2 decimal places
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [240]:
#Count Purchase by age group
purchase_count_age = age_group["SN"].nunique()
#Average purchase price by age group 
avg_purchase_price_age = age_group["Price"].mean()
#Total purchase value by age group 
total_purchase_value = age_group["Price"].sum()
#Average purchase per person 
avg_purchase_per_person_age = total_purchase_value/total_count_age
#Create DF with values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})
#No index
age_demographics.index.name = None
#Cleaner Format
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [241]:
#Groupby SN
top_spenders = purchase_data_df.groupby("SN")
#Count total purchase by Purchase ID
purchase_count_spender = top_spenders["Purchase ID"].count()
#Average purchase by name
avg_purchase_price_spender = top_spenders["Price"].mean()
#Purchase total
purchase_total_spender = top_spenders["Price"].sum()
#Create DF with values
highest_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
#Descending order sorted
format_spenders = highest_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
#Clean Format
format_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [242]:
#Create DF with requested columns
items = purchase_data_df[["Item ID", "Item Name", "Price"]]
#Groupby Item ID and Name
item_stats = items.groupby(["Item ID","Item Name"])
#Count how many times item purchased
purchase_count_item = item_stats["Price"].count()
#Purchase value per item
purchase_value = (item_stats["Price"].sum()) 
#Individual item price
item_price = purchase_value/purchase_count_item
#Create DF with values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
#Sort purchase count column descending
popular_format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
#Clean Format
popular_format.style.format({"Item Price":"${:,.2f}",
                             "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [243]:
#Take above DF and change to find highest total purchase value
popular_format = most_popular_items.sort_values(["Total Purchase Value"],
#Clean Format                                                   ascending=False).head()
popular_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [ ]:
#Observable Trends
#1. 84% of the people playing the game were male. This was not to surprising seeing how gaming is a male 
#   dominated hobby.
#2. Even though the game is free to play, there was still a significant amount of purchases across all ages
#   and genders. This can be enticing to video game creators for future developments of more games. You get
#   a lot of downloads and players,they naturally want to compete and keep up with everyone else. So 
#   what you lose in purchase price of players buying the game. It is possible to make up for it with in game
#   purchases.
#3. The profitable items were the most expensive items even though they were not purchased as much. The price 
#   being so elevated brought in the most money for those items.